a{
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  color:rgba(0,0,0,);
}

li{
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  color:rgba(0,0,0,);
}

h1{
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  color:rgba(0,0,0,);
}

h2{
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  color:rgba(0,0,0,);
}

aside {
  padding-left: 1em;
}
